<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/_.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="/_.js"></script>
</head>
<body>
  <div class="__container">
    {% block content %}{% endblock %}
  </div>
  {% block nav %}
    <ul id="slide-out" class="side-nav">
      <li><a href="/">Заказы</a></li>
      <li><a href="/settings/status">Статусы</a></li>
      <li><a href="/settings">Настройки</a></li>
      <li><a href="/create" >Добавить заказ</a></li>
      <li><a href="/logout" >Выход</a></li>
    </ul>
    <div data-activates="slide-out" class="button-collapse fixed-action-btn">
      <a class="btn-floating blue waves-effect">
        <i class="material-icons">more_vert</i>
      </a>
<!--       <ul>
        <li>
          <a href="/create" class="btn-floating green"><i class="material-icons">add</i></a>
        </li>
        <li>
          <a href="/" class="btn-floating lime"><i class="material-icons">shopping_cart</i></a>
        </li>
        <li>
          <a href="/settings/status" class="btn-floating lime"><i class="material-icons"></i></a>
        </li>
      </ul> -->
    </div>  
  {% endblock %}
</body>
</html>