.item{
    /border: 1px solid #616161;
    padding: 20px;
    text-align: center;
    margin-top: 35px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(49, 49, 50, 0.13);
    box-shadow: 0px 2px 10px 0px rgba(49, 49, 50, 0.13);
}

.modal_content p{
    color: #888888;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    white-space: pre-wrap;
}

.item a{
    text-decoration: none;
    color: #2f2f2f;
}
.item:hover{
    sbackground-color: #c0c0c0;
}
.addButtom{
    margin: auto;
    width: 600px;
    text-align: center;
    margin-top: 20px;
}
.load_page{
    background-image:  url('../../img/103.gif');
    height: 25px;
    width: 160px;
    display: inline-flex;
    display: none;
}
.top_title{
    margin-top: 22px;
    position: absolute;
    text-decoration: none;
    font-size: 25px;
    color: #444444;
}
.bx-wrapper{
    margin-left: auto;
    margin-right: auto;
}
.bx-wrapper img{
    max-height: 400px;
    display: inline !important;
}
.bx-wrapper, .bx-controls-direction a{
    z-index: 100 !important;
}
.text{
    color: #888888;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    white-space: pre-wrap;

}
.text > li {
    list-style: none;
}

.login,.setProfile {
    margin:0 auto;
    max-width:95%;
    /box-sizing:border-box;
    padding:40px;
    border-radius:5px;
    background:RGBA(255,255,255,1);
    -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
    box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
}
/* Поля рег и лог*/
.textbox{
    height:50px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    padding:10px;
    margin-bottom:30px;
}
.textbox:focus{
    outline:none;
    border:rgba(24,149,215,1) 2px solid;
    color:rgba(24,149,215,1);
    box-sizing: border-box;
}

.button{
    margin: auto;
    height:50px;
    max-width: 150px;
    min-width: 50px;
    border-radius:3px;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing:border-box;
    padding:10px;
    background: #444444;
    color:#FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size: 16pt;
    transition:background .4s;
    cursor:pointer;
}
.button:hover{
    background: #2f2f2f;
}
.bx-wrapper .bx-pager {
    position: absolute;
    bottom: 20px!important;
    width: 100%;
}
.bx-wrapper{
    border: none!important;
}
.slider_top_img{
    background: #fff center/cover no-repeat;
    min-height: 500px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
}
.slider_top_content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(255,255,255,.3);
}