{% extends "layout.html" %}

{% block content %} 
  <div class="container">
    
    <form class="col s12" method="post">

      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" type="email" value="{{ data.email }}">
          <label for="email">E-mail</label>
        </div>
      </div>

      <div class="row">
        <div class="range-field col s12">
        <label for="pagination">Число заказоа на странице</label>
        <input type="range" id="pagination" name="pagination" min="1" max="50" value="{{ data.pagination }}">
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" value="">
          <label for="password">Новый пароль</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="passwordConfirm" name="passwordConfirm" type="password" value="">
          <label for="passwordConfirm">Новый пароль ещё раз</label>
        </div>
      </div>

      <div class="row center">
        <div class="input-field col s12">
          <button type="submit" class="waves-effect waves-light btn">Сохранить</button> 
        </div>
      </div>

    </form>

  </div>
  {% for error in errors %}
  <script>
    Materialize.toast('{{ error }}', 5000);
  </script>
  {% endfor %}

{% endblock %}