{% extends "layout.html" %}

{% block content %} 

<table class="responsive-table bordered centered">
  <thead>
    <tr>
        <th >Имя</th>
        <th>Телефон</th>
        <th>E-mail</th>
        <th>Заказ</th>
        <th>Дата</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
  </thead>

  <tbody>
    {% for order in orders %}
      <tr>
        <td>
          {% if order.name %}
            {{ order.name }}
          {% else %}
            -
          {% endif %}
        </td>
        <td>
          {% if order.phone %}
            {{ order.phone }}
          {% else %}
            -
          {% endif %}
        </td>
        <td>
          {% if order.email %}
            {{ order.email }}
          {% else %}
            -
          {% endif %}
        </td>
        <td>
          {% if order.title %}
            {{ order.title }}
          {% else %}
            -
          {% endif %}
        </td>
        <td><span class="js-moment" data-time="{{ order.date }}"></span></td>
        <td>
          {% if order.status %}
            {{ order.status }}
          {% else %}
            -
          {% endif %}
        </td>
        <td>
        	<a href="/delete/{{ order.id }}" class="btn-floating red waves-effect"><i class="material-icons">clear</i></a>
          &nbsp;
  	      <a href="/edit/{{ order.id }}" class="btn-floating lue-grey waves-effect"><i class="material-icons">create</i></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="center">
	<br>	
	<ul class="pagination">
    {% if pages|length <= 1 %}
    {% else %}
  		{% for page in pages %}
  	  	<li class="waves-effect {{ page.class }}"><a href="/?page={{ page.item }}">{{ page.item }}</a></li>
  	  {% endfor %}
    {% endif %}
	</ul>
</div>

{% endblock %}